body {
    overflow: hidden;
    background-image: url('XanderGingerbread.png')
}

p {
    text-align: center;
}

button {
    margin-left: 700px;
}

h1 {
    margin-left: 575px;
    margin-right: 575px;
    text-align: center;
    font-family: 'Inconsolata', monospace;
    color: white;
}

#TAPlogo {
    margin-left: 2px;
    width: 125px;
    height: 75px;
}
