/*Custom Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
    overflow: hidden;
    background-image: url('FinalBackground.png');
}
p {
    text-align: center;
}

button {
    margin-left: 700px;
    color: black;
    background: green;
}

h1 {
    margin-left: 575px;
    margin-right: 575px;
    text-align: center;
    font-family: 'Inconsolata', monospace;
    color: green;
}

h2 {
    text-align: center;
    border: 10px solid green;
    background-color: green;
    margin-right: 450px;
    margin-left: 450px;
    font-family: 'Inconsolata', monospace;
}

#TAPlogo {
    margin-left: 2px;
    width: 125px;
    height: 75px;
}
